<app-nav-bar></app-nav-bar>
<app-body-layout></app-body-layout>
<app-footer-layout></app-footer-layout>
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>TotalRow</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productDetails">
      <td>{{ product.Id }}</td>
      <td>{{ product.Name }}</td>
      <td>{{ product.Price }}</td>
      <td>{{ product.Status }}</td>
      <td>{{ product.TotalRow }}</td>
      <td><img [src]="product.AvatarImage" alt="Product Image" style="max-width: 100px;"></td>
    </tr>
  </tbody>
  <tbody>

  </tbody>
</table>
